{% extends 'boards/layout/base.html' %}

{% block title %}
User Expenditures Form
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">User Expenditures Form</li>
{% endblock %}

{% block wrapper %}
    <form method="post" action="list_expenditures/" novalidate="novalidate">
        {% csrf_token %}
        {% include 'boards/partials/_form.html' %}
        <div style="text-align:center">
            <button type="submit" style="width:25%;" class="btn btn-success">Search</button>
        </div>
      </form>
{% endblock%}