{% extends 'boards/layout/base.html' %}

{% block title %}
New Product
{% endblock %}

{% block breadcrumb %}
		<li class="breadcrumb-item">
			<a href="/financial_system/misc_products/">Other Products</a>
		</li>
		<li class="breadcrumb-item active">New Product</li>
{% endblock %}

{% block wrapper %}

  <form method="post" action="/financial_system/misc_products/new_misc_product/" novalidate="novalidate">
    {% csrf_token %}
      {% include 'boards/partials/_form.html' %}
      <div style="text-align:center">
        <button type="submit" style="width:25%;" class="btn btn-success">Create</button>
      </div>
  </form>

{% endblock %}