{% extends 'boards/layout/base.html' %}

{% block title %}Properties{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Properties</li>
{% endblock %}

{% block wrapper %}
      <div class="mb-3">
        <a href="/financial_system/properties/new_property/" class="btn btn-primary">List Property for Sale</a>
      </div>
      
       <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Property Address</th>
            <th>Price</th>
            <th>Agent</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for property in properties %}
            <tr>
              <td class="align-middle">{{ property.address }}</td>
              <td class="align-middle">{{ property.transaction_price }}</td>
              <td class="align-middle">{{ property.agent.name }}</td>
              <td style="text-align:center; padding-right:25px"><a href="property_transaction/{{property.id}}" class="btn btn-success">Buy</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}