{% extends 'boards/layout/base.html' %}

{% block title %}
View Property
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Property Data Form</li>
{% endblock %}

{% block wrapper %}
    <form method="post" action="list_property_data/" novalidate="novalidate">
        {% csrf_token %}
        {% include 'boards/partials/_form.html' %}
        <p style="padding-left: 8px"><i>Ex: 123 Main St</p></i>
        <div style="text-align:center">
            <button type="submit" style="width:25%;" class="btn btn-success">Search</button>
        </div>
      </form>
{% endblock%}