{% extends 'boards/layout/base.html' %}

{% block title %}
Stock Transaction
{% endblock %}

{% block breadcrumb %}
		<li class="breadcrumb-item">
			<a href="/financial_system/stocks/">Stocks</a>
		</li>
		<li class="breadcrumb-item active">Stock Transaction</li>
{% endblock %}

{% block wrapper %}

  <form method="post" action="{% for d in data %}/financial_system/stocks/stock_transaction/{{d.id}}{% endfor %}" novalidate="novalidate">
    {% csrf_token %}
      {% include 'boards/partials/_form.html' %}
      <div style="text-align:center">
        <button type="submit" style="width:25%;" class="btn btn-success">Complete Transaction</button>
      </div>
  </form>

{% endblock %}